table{
    align-self: center;
}
td{
    border: 1px solid aquamarine;
    padding: 0.75%;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;

}

#start{
    border: 1px solid transparent;
    height: 40px;
    border-radius: 5%;
    color: white;
    background: orangered;
    display: block;
}
#snode{
    margin-top: -10px;
    padding: 10px;
    margin-left: 5%;
    border: 1px solid transparent;
    margin-right: 15%;
    background: transparent;
    color: white;
    font-size: large;
}
#reset{
    margin-top: -10px;
    padding: 10px;
    margin-left: 15%;
    border: 1px solid transparent;
    background: transparent;
    color: white;
    font-size: large;
}
#enode{
    margin-top: -10px;
    padding: 10px;
    margin-left: 5%;
    border: 1px solid transparent;
    margin-right: 15%;
    background: transparent;
    color: white;
    font-size: large;
}
#snode:hover, #enode:hover, #reset:hover{
    background: #646665;
    border-bottom: 3px solid wheat;
}
#algo{
    margin-top: -10px;
    padding: 10px;
    margin-left: 5%;
    border: 1px solid transparent;
    background:transparent;
    color: white;
    font-size: large;
}
option{
    background: #333;
}

#algo:hover{
    background: #646665;
    border-bottom: 3px solid wheat;
}
#options{
    background-color: #333;
    color:wheat;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}